.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.card>img {
    position: relative;
    top: 122px;
    left: -12px;
    width: 160px;
    height: 160px;
    align-self: center;
    /* border-radius: 5px; */
    object-fit: cover;
    padding-left: 15px;
}

